; Keyboard Controller Configuration File
; 键盘控制器配置文件
;
; 关节顺序 (roban_v14, 23关节):
;   0-5:   leg_l1-6    左腿
;   6-11:  leg_r1-6    右腿
;   12:    waist       腰
;   13-16: zarm_l1-4   左臂
;   17-20: zarm_r1-4   右臂
;   21-22: head1-2     头

jointKp
{
    (0,0)   90.179    ; leg_l1_joint
    (1,0)   150.098   ; leg_l2_joint
    (2,0)   40.179    ; leg_l3_joint
    (3,0)   150.098   ; leg_l4_joint
    (4,0)   34.25     ; leg_l5_joint
    (5,0)   34.25     ; leg_l6_joint
    (6,0)   90.179    ; leg_r1_joint
    (7,0)   150.098   ; leg_r2_joint
    (8,0)   40.179    ; leg_r3_joint
    (9,0)   150.098   ; leg_r4_joint
    (10,0)  34.25     ; leg_r5_joint
    (11,0)  34.25     ; leg_r6_joint
    (12,0)  40.179    ; waist_yaw_joint
    (13,0)  14.25     ; zarm_l1_joint
    (14,0)  14.25     ; zarm_l2_joint
    (15,0)  14.25     ; zarm_l3_joint
    (16,0)  14.25     ; zarm_l4_joint
    (17,0)  14.25     ; zarm_r1_joint
    (18,0)  14.25     ; zarm_r2_joint
    (19,0)  14.25     ; zarm_r3_joint
    (20,0)  14.25     ; zarm_r4_joint
    (21,0)  10.0      ; head_yaw
    (22,0)  5.0       ; head_pitch
}

jointKd
{
    (0,0)   3.557   ; leg_l1_joint
    (1,0)   8.308   ; leg_l2_joint
    (2,0)   3.557   ; leg_l3_joint
    (3,0)   8.308   ; leg_l4_joint
    (4,0)   1.907   ; leg_l5_joint
    (5,0)   1.907   ; leg_l6_joint
    (6,0)   3.557   ; leg_r1_joint
    (7,0)   8.308   ; leg_r2_joint
    (8,0)   3.557   ; leg_r3_joint
    (9,0)   8.308   ; leg_r4_joint
    (10,0)  1.907   ; leg_r5_joint
    (11,0)  1.907   ; leg_r6_joint
    (12,0)  2.557   ; waist_yaw_joint
    (13,0)  0.907   ; zarm_l1_joint
    (14,0)  0.907   ; zarm_l2_joint
    (15,0)  0.907   ; zarm_l3_joint
    (16,0)  0.907   ; zarm_l4_joint
    (17,0)  0.907   ; zarm_r1_joint
    (18,0)  0.907   ; zarm_r2_joint
    (19,0)  0.907   ; zarm_r3_joint
    (20,0)  0.907   ; zarm_r4_joint
    (21,0)  1.0     ; head_yaw
    (22,0)  1.0     ; head_pitch
}

actionScaleTest
{
    (0,0)   0.41     ; leg_l1_joint
    (1,0)   0.25     ; leg_l2_joint
    (2,0)   0.43     ; leg_l3_joint
    (3,0)   0.25     ; leg_l4_joint
    (4,0)   0.54     ; leg_l5_joint
    (5,0)   0.54     ; leg_l6_joint
    (6,0)   0.41     ; leg_r1_joint
    (7,0)   0.25     ; leg_r2_joint
    (8,0)   0.43     ; leg_r3_joint
    (9,0)   0.25     ; leg_r4_joint
    (10,0)  0.54     ; leg_r5_joint
    (11,0)  0.54     ; leg_r6_joint
    (12,0)  0.49     ; waist_yaw_joint
    (13,0)  0.24     ; zarm_l1_joint
    (14,0)  0.64     ; zarm_l2_joint
    (15,0)  0.64     ; zarm_l3_joint
    (16,0)  0.64     ; zarm_l4_joint
    (17,0)  0.24     ; zarm_r1_joint
    (18,0)  0.64     ; zarm_r2_joint
    (19,0)  0.64     ; zarm_r3_joint
    (20,0)  0.64     ; zarm_r4_joint
    (21,0)  1.0      ; head_yaw
    (22,0)  1.0      ; head_pitch
}
