<?xml version="1.0"?>
<launch>
  <!-- Argument for coredump -->
  <arg name="coredump" default="false"/>
  <arg name="with_coredump" value="--with-coredump" if="$(arg coredump)"/>
  <arg name="with_coredump" value="" unless="$(arg coredump)"/>

  <!-- iceoryx 共享内存开关 -->
  <arg name="enable_iceoryx_shm" default="true"/>
  <arg name="cyclonedds_config" value="$(find leju_launch)/config/cyclonedds_shm.xml" if="$(arg enable_iceoryx_shm)"/>
  <arg name="cyclonedds_config" value="$(find leju_launch)/config/cyclonedds.xml" unless="$(arg enable_iceoryx_shm)"/>
  <env name="CYCLONEDDS_URI" value="file://$(arg cyclonedds_config)" />
  <arg name="controller_manager_config"
       default="$(find leju-rl-controller)/config/$(optenv ROBOT_VERSION 46)/controller_manager.yaml"/>

  <!-- Argument for MuJoCo XML file -->
  <arg name="mujoco_xml_file" default="$(find leju_assets)/models/biped_s$(optenv ROBOT_VERSION 46)/xml/scene_rl.xml"/>

  <!-- Optional: Custom teleop bindings config -->
  <arg name="teleop_config" default="$(find leju-rl-controller)/config/$(optenv ROBOT_VERSION 46)/teleop_bindings.yaml"/>
  <arg name="teleop_arg" value="-t $(arg teleop_config)" if="$(eval teleop_config != '')"/>
  <arg name="teleop_arg" value="" unless="$(eval teleop_config != '')"/>

  <arg name="auto_start" default="false"/>

  <!-- Load MuJoCo simulation -->
  <node name="leju_mujoco_sim" pkg="leju-mujoco-sim" type="leju-mujoco-sim" output="screen"
        args="$(arg mujoco_xml_file)"
        launch-prefix="$(find leju_launch)/scripts/start_node.sh $(arg with_coredump)"
        required="true"/>

  <!-- Load joystick control -->
  <node name="leju_joystick" pkg="leju-joystick" type="leju-joystick" output="screen"
        launch-prefix="$(find leju_launch)/scripts/start_node.sh $(arg with_coredump)"
        required="true"
        unless="$(arg auto_start)"/>

  <!-- Load RL controller (controller_manager 模式) -->
  <node name="leju_rl_controller" pkg="leju-rl-controller" type="run_rl_controller" output="screen"
        args="$(arg teleop_arg) -c $(arg controller_manager_config)"
        launch-prefix="$(find leju_launch)/scripts/start_node.sh $(arg with_coredump)"
        required="true"/>

  <!-- Load DDS recorder -->
  <node name="lejusdk_recorder" pkg="lejusdk-recorder" type="lejusdk_recorder" output="screen"
        args="--config=$(find leju_launch)/config/recorder.yaml"
        launch-prefix="$(find leju_launch)/scripts/start_node.sh $(arg with_coredump)"/>
</launch>